html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
