.hero-left-section {
    color: #1c2555;
}

.hero-right-section {
    border-radius: 6px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 80px 80px;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.1),-4px -4px 10px rgba(255, 255, 255, 0.5);
    gap: 5px;
    margin-top: 10px;
}



.hero-right-section div:last-child{
    grid-column-start: span 2;
}

.hero-right-section div:nth-child(3){
    grid-column-start: span 2;
}

.hero-right-section div:nth-child(4){
    grid-column-start: span 2;
}

input {
    margin: 5px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}

input,label {
    color: #6c748d;
}

label {
  display: block;
  margin-bottom: 4px;
  color: #6B7280;
  font-size: 14px;
  font-weight: 500;
}

textarea {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}

.btn-get {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  background-color: #3B82F6;
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
  margin-right: 15px;
  transition: background-color 0.2s;
}

.btn-get:hover {
  background-color: #2563EB;
}

.btn-learn{
    background-color: #ecf1f8;
    color: #6c748d;
    border-color: #8b92a6 ;
}

.btn-submit {
    background-color: #3B82F6;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 100px;
    align-self: center;
    margin-bottom: 10px;
}


