
.job-card {
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
}


@media (min-width: 768px) {
  .job-card {
    flex-direction: row;
  }
}

.job-image {
  background-color: #f1f5f9;
  min-height: 150px;
}

@media (min-width: 768px) {
  .job-image {
    width: 40%;
  }
}

.icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 4px;
}

.job-content {
  padding: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .job-content {
    width: 60%;
  }
}

h3, p {
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.job-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #64748b;
}

.job-meta span {
  display: flex;
  align-items: center;
}

.read-more {
  color: #2563eb;
  text-decoration: none;
}

.job-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.job-actions button {
  margin-left: auto;
  margin-right: 10%;
}

.apply-btn {
  background-color: #2563eb;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.apply-btn:hover {
  background-color: #1d4ed8;
}

