.main {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.main > div {
    height: 50%; 
    box-sizing: border-box; 
    
}

.section-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main > div:first-child {
    background-color: #ffffff;
}

.main > div:last-child {
    background-color: #4c1717;
}

@media (max-width: 768px) {
  .section-top {
    flex-direction: column; /* stack vertical en móvil */
    padding: 20px;
  }

  .main > div {
    height: auto; /* Altura automática para scroll */
  }
}