.main {
    display: flex;
    flex-direction: column;
    height: 100%; 
    flex: 1;
}

.main > div {
    height: 50%; 
    box-sizing: border-box; 
    
}

.section-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-bottom{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
}

.main > div:first-child {
    background-color: #ffffff;
}

.main > div:last-child {
    background-color: #ffffff;
    color: #1c2555 ;
}

@media (max-width: 768px) {
  .section-top {
    flex-direction: column; /* stack vertical en móvil */
    padding: 20px;
  }

  .main > div {
    height: auto; /* Altura automática para scroll */
  }
}